@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafa;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.range-slider .range-slider__range {
  background: #9fe7f6 !important;;
}
.range-slider .range-slider__thumb {
  width: 16px !important;;
  height: 16px !important;;
  border: #9fe7f6 2px solid !important; ;
  background: white !important;;
}